---
layout: default
card: "This is the message I send to the include"
---

{% include header.html page="Sermons" image="bible-11" %}


<section class="Content bg-light-gray w-100 tc center pa3">

  {% include sermon.html series="Ephesians" title="Part 10" speaker="Pastor Timothy Roeser" date="August 6th, 2016" image="grow-1" overlay="rgba(25,25,25,0.7)" %}
  {% include sermon.html series="Ephesians" title="Part 9" speaker="Pastor Timothy Roeser" date="July 30th, 2016" image="grow-1" overlay="rgba(25,25,25,0.7)" %}

        <style>
        .w-49 { width: 49%; }
        .btn {
          color: white;
          padding: .5rem 1rem;
          border: 2px solid #fff;
          margin: .5rem;
          border-radius: 40px;
          min-width: 100px;
          display: inline-block;
          text-decoration: none;
          font-weight: bold;
        }
        .btn:hover {
          background: white;
          color: #222;
        }
        .Sermon {
          border-radius: 4px;
          box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
        }
        </style>
</section>

{% include footer.html %}
