---
layout: default
card: "This is the message I send to the include"
---

{% include header.html page="Events" image="event-2" %}

<section class="Content bg-light-gray w-100 center pa3">

	<section class="mw6 center">

	<h2 class="f3 montserrat ttu b">Our Services</h2>

<pre class="baskerville f4">
Sun - 9:30am Sunday School
	  10:30am Main Service
	  6:30pm Prayer Meeting

Wed - 7:00pm Youth Group

Thu - 7:00pm Small Groups
</pre>


<section class="w-100">
<section class="pa3 mw6"><section>06/11/2016</section>	<section class="pa3 bg-white bs-1">Men Prayer Breakfast 9:00am @ Thano Restaurant - Barberton</section></section>
<section class="pa3 mw6"><section>06/08/2016</section>	<section class="pa3 bg-white bs-1">HCA Spring Awards & Graduation Ceremony</section></section>
<section class="pa3 mw6"><section>05/14/2016</section>	<section class="pa3 bg-white bs-1">Men Prayer Breakfast 9:00am @ Thano Restaurant - Barberton</section></section>
<section class="pa3 mw6"><section>05/10/2016</section>	<section class="pa3 bg-white bs-1">Ladies Bible Study 12:30 - 2:00 @ HBC</section></section>
<section class="pa3 mw6"><section>05/08/2016</section>	<section class="pa3 bg-white bs-1">Mothers Day</section></section>
<section class="pa3 mw6"><section>04/09/2016</section>	<section class="pa3 bg-white bs-1">Men Prayer Breakfast 9:00am @ Thano Restaurant - Barberton</section></section>
<section class="pa3 mw6"><section>04/12/2016</section>	<section class="pa3 bg-white bs-1">Ladies Bible Study 12:30 - 2:00 @ HBC</section></section>
<section class="pa3 mw6"><section>04/15/2016</section>	<section class="pa3 bg-white bs-1">Benefit Auction</section></section>
<section class="pa3 mw6"><section>03/27/2016</section>	<section class="pa3 bg-white bs-1">Easter Sunrise Service - 8:00am</section></section>
<section class="pa3 mw6"><section>03/20/2016</section>	<section class="pa3 bg-white bs-1">Palm Sunday</section></section>
<section class="pa3 mw6"><section>03/12/2016</section>	<section class="pa3 bg-white bs-1">Men Prayer Breakfast 9:00am @ Thano Restaurant - Barberton</section></section>
<section class="pa3 mw6"><section>03/08/2016</section>	<section class="pa3 bg-white bs-1">Ladies Bible Study 12:30 - 2:00 @ HBC</section></section>
<section class="pa3 mw6"><section>02/28/2016</section>	<section class="pa3 bg-white bs-1">2016 Mission Conference - Samuel Aurelus - Haiti</section></section>
<section class="pa3 mw6"><section>02/21/2016</section>	<section class="pa3 bg-white bs-1">2016 Mission Conference - Daniel Reed - Romania</section></section>
<section class="pa3 mw6"><section>02/20/2016</section>	<section class="pa3 bg-white bs-1">Men Prayer Breakfast 9:00am @ Thano Restaurant - Barberton</section></section>
<section class="pa3 mw6"><section>02/16/2016</section>	<section class="pa3 bg-white bs-1">Ladies Bible Study 12:30 - 2:00 @ HBC</section></section>
<section class="pa3 mw6"><section>02/14/2016</section>	<section class="pa3 bg-white bs-1">2016 Mission Conference - TK Rene - Belarus & Maria Carreon - Japan</section></section>
<section class="pa3 mw6"><section>02/07/2016</section>	<section class="pa3 bg-white bs-1">2016 Mission Conference - Emmanuel Abotchi - West Africa</section></section>
<section class="pa3 mw6"><section>02/07/2016</section>	<section class="pa3 bg-white bs-1">Super Bowl Sunday - 6:30pm Borrells Home</section></section>
<section class="pa3 mw6"><section>01/31/2016</section>	<section class="pa3 bg-white bs-1">Anniversary Sunday - Celebrating 35 years of ministry</section></section>
<section class="pa3 mw6"><section>01/29/2016</section>	<section class="pa3 bg-white bs-1">Adult Bible Study 7:30pm @ Caleb Callahan Home</section></section>
<section class="pa3 mw6"><section>01/12/2016</section>	<section class="pa3 bg-white bs-1">Ladies Bible Study 12:30 - 2:00 @ HBC</section></section>
<section class="pa3 mw6"><section>01/10/2016</section>	<section class="pa3 bg-white bs-1">Communion Service</section></section>
<section class="pa3 mw6"><section>01/09/2016</section>	<section class="pa3 bg-white bs-1">Men Prayer Breakfast 9:00am @ Thano Restaurant - Barberton</section></section>
<section class="pa3 mw6"><section>12/31/2015</section>	<section class="pa3 bg-white bs-1">New Years Eve Fellowship at 6:30pm -Midnight</section></section>
<section class="pa3 mw6"><section>12/18/2015</section>	<section class="pa3 bg-white bs-1">Adult Study Christmas Party - 7:30pm @ Borrells</section></section>
<section class="pa3 mw6"><section>12/08/2015</section>	<section class="pa3 bg-white bs-1">Ladies Bible Study 12:30 - 2:00 @ HBC</section></section>
<section class="pa3 mw6"><section>11/14/2015</section>	<section class="pa3 bg-white bs-1">Men Prayer Breakfast 9:00am @ Thano Restaurant - Barberton</section></section>
<section class="pa3 mw6"><section>11/10/2015</section>	<section class="pa3 bg-white bs-1">Ladies Bible Study 12:30 - 2:00 @ HBC</section></section>
<section class="pa3 mw6"><section>10/16/2015</section>	<section class="pa3 bg-white bs-1">Adult Retreat at Stoney Glenn (Fri-Sun)</section></section>
<section class="pa3 mw6"><section>09/20/2015</section>	<section class="pa3 bg-white bs-1">Golf Scramble - 1:30pm Lions Den Golf Course</section></section>
<section class="pa3 mw6"><section>09/11/2015</section>	<section class="pa3 bg-white bs-1">Communion Service</section></section>
</section>
	</section>

</section>

{% include footer.html %}