---
layout: default
card: "This is the message I send to the include"
---

{% include header.html page="Hametown Baptist Church" image="bible-3" %}


<section class="Content gray mw7 w-100 center pa4">

	<p class="f4 center baskerville">Welcome to our site! From here you can see our <a href="/hbc1/sermons">past sermons</a>, learn about our <a href="/hbc1/services">services</a>, or even receive our <a href="/hbc1/studies">study resources</a>.</p>

	<p class="f4 center baskerville">The believers of Hametown Baptist Church invite you and your family to the renovated old Sherman School, transformed into a beautiful new sanctuary. Come worship and learn about the Lord with us.</p>

</section>

<section class="P1 tc w-100 h-50 dib flex items-center justify-center flex-wrap content-center pa4">

	<p class="baskerville white f3 flex-100 mw7">"But whosoever drinketh of the water that I shall give him shall never thirst; but the water that I shall give him shall be in him a well of water springing up into everlasting life."</p>

	<h3 class="white ttu montserrat f5 flex-100">Jesus Christ</h3>

</section>

<section class="w-100 mb3 cf">
	{% include feature.html title="Study Resources" image="bible-7" overlay="rgba(0,0,0,0.5)" %}

	{% include feature.html title="Services" link="about" image="bible-11" overlay="rgba(0,0,0,0.5)" %}
</section>




<section class="Content gray mw7 center pa4 cf">

	<p class="f4 baskerville">We meet on Sunday mornings for service, Sunday evenings for Prayer Meeting, and throughout the week for groups. </p>

	<p class="f4 baskerville">Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit</i>. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. </p>

</section>

{% include footer.html %}
