<section class="flex items-center w-100 fl-ns w-50-ns cf-ns h5 bg-black cover pointer" style="background-image:url('{{ site.baseurl}}/assets/{{ include.image}}.jpeg')">
	<section href="{{ site.baseurl}}/hbc1/{{ include.link }}" class="pointer w-100 h-100 flex items-center justify-center pa3" style="background:{{ include.overlay }};">
		<a href="{{ site.baseurl}}/hbc1/{{ include.link }}" class="dim pointer no-underline flex items-center justify-center dib w-100 h-100 f3 tracked white ttu b montserrat">
		{{ include.title }}
		</a>
	</section>
</section>