<section class="Head tc w-100 h-50 dib relative header-bs mh-350" style="background-image:url('{{ site.baseurl}}/assets/{{ include.image}}.jpeg')">
	<section class="absolute ph3 mw7 mt2 mt0-ns top-1 center left-0 right-0 flex items-center flex-wrap">
		<a href="/hbc1/" class="Logo dib f2 b white ma0 pointer center mh0-ns no-underline">H</a>

		<section class="mla">
			<ul class="list pa0 mv2 mv3-ns nav montserrat ttu b">
<!-- 				<li class="dib mh2"><a class="no-underline b white pointer" href="/">Home</a></li>-->
				<li class="dib ml3 mv1"><a class="no-underline white pointer" href="/hbc1/sermons">Sermons</a></li>
				<li class="dib ml3 mv1"><a class="no-underline white pointer" href="/hbc1/studies">Studies</a></li>
				<li class="dib ml3 mv1"><a class="no-underline white pointer" href="/hbc1/about">About</a></li>
				<li class="dib ml3 mv1"><a class="no-underline white pointer" href="/hbc1/events">Events</a></li>
				<li class="dib ml3 mv1"><a class="no-underline white pointer" href="/hbc1/contact">Contact</a></li>
			</ul>
		</section>
	</section>
	<section class="Overlay w-100 h-100 flex flex-wrap items-center justify-center">
		<h1 class="ttu tracked mt5 ma0-ns">{{ include.page }}</h1>
	</section>
</section>