<section class="Sermon bg-center h5 w-100 w-33-l dib v-top center tc ma2 cover" style="background-image:url('{{ site.baseurl}}/assets/{{ include.image}}.jpeg')">
	<section class="pa3 br2 flex white w-100 h-100 flex-wrap items-center justify-center" style="background:{{ include.overlay }};">
		<section>
			<p class="ttu b f3 ma0 flex-100 tracked">{{ include.series }}</p>
			<p class="light-gray">{{ include.title }} - {{ include.speaker }}</p>
      <p class="light-gray i">{{ include.date }}</p>
      <section class="w-100 pa2 center tc">
          <a href="" class="btn pointer grow">
            Audio
          </a>
          <a href="" class="btn pointer grow">
            PowerPoint
          </a>
      </section>
		</section>
	</section>
</section>
