<section class="bg-center grow bg-near-white red h5 flex-50 w-100 w-50-l dib v-top center tc ma2 cover" style="background-image:url('{{ site.baseurl}}/assets/{{ include.image}}.jpeg')">
	<a href="{{ include.link }}" class="dib w-100 h-100 pointer no-underline white" href="">
	<section class="pa3 flex w-100 h-100 flex-wrap items-center justify-center" style="background:{{ include.overlay }};">
		<section>
			<h3 class="ttu b f2 flex-100 tracked">{{ include.studyTitle }}</h3>
			<p>{{ include.studyByline }}</p>
		</section>
	</section>
	</a>
</section>
