---
layout: default
---

{% include header.html page="Contact" image="write-1" %}

<section class="Content bg-light-gray w-100 center pa3">

	<section class="mw7 center pt3">

		<section class="w-100 mb3 flex flex-wrap">
			<section class="flex-1 pa2 pt0 pr3">
				<form class="w-100">
					<fieldset class="bn ma0 pa0 mb2">
						<label class="lato b gray">Name</label>
						<input class="mb0 mt1" type='text' />
					</fieldset>

					<fieldset class="bn ma0 pa0 mb2">
						<label class="lato b gray">Email</label>
						<input class="mb0 mt1" type="email" />
					</fieldset>

					<fieldset class="bn ma0 pa0 mb2">
						<label class="lato b gray">Message</label>
						<textarea class="mb0 mt1"></textarea>
					</fieldset>

					<fieldset class="bn ma0 pa0 mb2">
						<button class="bn br2 bg-blue white pv2 ph3 ttu lato b">Submit</button>
					</fieldset>
				</form>
			</section>

			<section class="flex-1 map dn db-ns pl3">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.918839145691!2d-81.67051514952321!3d41.00514957919957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830d29352a5ff63%3A0x10ea2a3b7d4c4708!2sHametown+Baptist+Church!5e0!3m2!1sen!2sus!4v1475390140968" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			</section>

			<section class="flex-100 ma2 map dn-ns h6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.918839145691!2d-81.67051514952321!3d41.00514957919957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830d29352a5ff63%3A0x10ea2a3b7d4c4708!2sHametown+Baptist+Church!5e0!3m2!1sen!2sus!4v1475390140968" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
			</section>
		</section>

	</section>

</section>

<style>
.map {
	border: 2px solid rgba(0,0,0,.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input[type="text"], input[type="email"], textarea {
	padding: 0.8em;
    border: 2px solid rgba(0,0,0,.1);
    background: rgba(255,255,255,0.5);
    font-size: .8em;
    width: 100%;
    color: #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
textarea {
	min-height: 150px;
}
</style>

{% include footer.html %}