---
layout: default
card: "This is the message I send to the include"
---

{% include header.html page="About" image="bible-11" %}

<section class="Content bg-light-gray w-100 center pa3">

	<section class="mw6 center">
		<h2 class="f3 montserrat ttu b tc">Our Services</h2>
		<ul class="pl0 list f5">
			<li>
<pre class="baskerville f4">
Sun - 9:30am Sunday School
	  10:30am Main Service
	  6:30pm Prayer Meeting

Wed - 7:00pm Youth Group

Thu - 7:00pm Small Groups
</pre>
			</li>
		</ul>

		<h2 class="f3 montserrat ttu b tc">Our Beliefs</h2>
		<ul class="pl0 list f3">

			<h2 class="montserrat mb2 b ttu f3">Bible</h2>
			<li class="mb4 baskerville">The Holy Scriptures to be the inspired, preserved, and completed Word of God; and the final authority in all matters. We believe and use the King James Bible.</li>

			<h2 class="montserrat mb2 b ttu f3">Christ</h2>
			<li class="mb4 baskerville">The deity, humanity, virgin birth, sinless life, substitutional death, bodily resurrection and the premillennial coming of the Lord Jesus Christ.</li>

			<h2 class="montserrat mb2 b ttu f3">God</h2>
			<li class="mb4 baskerville">The truth of the Trinity as proven by Scripture and maintained by history.</li>

			<h2 class="montserrat mb2 b ttu f3">Sin</h2>
			<li class="mb4 baskerville">The total depravity of all men and the necessity of their regeneration.</li>

			<h2 class="montserrat mb2 b ttu f3">Salvation</h2>
			<li class="mb4 baskerville">The sovereignty of God in drawing a man to salvation and the responsibility of man to make his choice to receive the Saviour.</li>

			<h2 class="montserrat mb2 b ttu f3">Repentance</h2>
			<li class="mb4 baskerville">Salvation of the soul is accomplished by repentance toward God and complete faith in the Lord Jesus Christ as Saviour. Thus saved, one is eternally saved and can never be lost.</li>

			<h2 class="montserrat mb2 b ttu f3">Church</h2>
			<li class="mb4 baskerville">The local church to be the pillar and ground of truth and an autonomous body separate from the world.</li>

			<h2 class="montserrat mb2 b ttu f3">Baptism</h2>
			<li class="mb4 baskerville">A believer is to be Scripturally baptized as a prerequisite to church membership and partaking of the Lord's Supper administered by the local church. We practice open communion as taught by the Scriptures.</li>

			<h2 class="montserrat mb2 b ttu f3">Return</h2>
			<li class="mb4 baskerville">The pretribulational Rapture of the church and the resurrection of the body of all Christians in concurrence with the Rapture.</li>

			<h2 class="montserrat mb2 b ttu f3">Kingdom</h2>
			<li class="mb4 baskerville">The premillennial coming of Jesus Christ to earth, where He will reign for one thousand years.</li>

			<h2 class="montserrat mb2 b ttu f3">Heaven</h2>
			<li class="mb4 baskerville">An eternal heaven for those who have been saved and eternal punishment in the lake of fire for the lost.</li>

			<h2 class="montserrat mb2 b ttu f3">Separation</h2>
			<li class="mb4 baskerville">The separation of every Christian from worldly practices in wholehearted devotion to Christ. The separation of the church from every form of liberalism, modernism, apostasy and compromise with unbelief.</li>
		</ul>
	</section>

</section>


{% include footer.html %}