---
layout: default
card: "This is the message I send to the include"
---

{% include header.html page="Studies" image="bible-7" %}


<section class="Content w-100 tc center pa3 bg-light-gray cf pb0">

	<p class="gray mv4 mw6 center baskerville">Comprehensive discipleship studies on the core beliefs of Christianity in an effort to root and ground Christians in the Word of God.</p>

  {% include study.html studyTitle="Salvation" studyByline="What is salvation?" link="http://hametownbaptistchurch.org/downloads/Salvation.pdf" image="image-4" overlay="rgba(50,50,50,0.66)" %}

  {% include study.html studyTitle="Assurance" studyByline="Can I be certain of salvation?" image="lock-1" overlay="rgba(50,50,50,0.66)" %}

  {% include study.html studyTitle="Baptism" studyByline="What is Baptism?" image="water-1" overlay="rgba(50,50,50,0.66)" %}

  {% include study.html studyTitle="Bible" studyByline="What is God's Word?" image="bible-4" overlay="rgba(50,50,50,0.66)" %}

  {% include study.html studyTitle="Temptation" studyByline="Can temptation be overcome?" image="path-1" overlay="rgba(50,50,50,0.66)" %}

  {% include study.html studyTitle="Prayer" studyByline="Does praying work?" image="pray-1" overlay="rgba(50,50,50,0.66)" %}

  {% include study.html studyTitle="Faith" studyByline="What does faith look like?" image="balloon-1" overlay="rgba(50,50,50,0.66)" %}

  {% include study.html studyTitle="Grace" studyByline="How powerful is grace?" image="flower-1" overlay="rgba(50,50,50,0.66)" %}

  {% include study.html studyTitle="Wisdom" studyByline="Where can I find wisdom?" image="compass-2" overlay="rgba(50,50,50,0.66)" %}

  {% include study.html studyTitle="Witness" studyByline="How can I tell others about Christ?" image="people-1" overlay="rgba(50,50,50,0.66)"  %}

  {% include study.html studyTitle="Eternal Salvation" studyByline="Can I lose my salvation?" image="building-1" overlay="rgba(50,50,50,0.66)" %}

</section>

{% include footer.html %}

